[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./main.py

# Name of the bot in-game
name = Gingybot

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = "Justin Miller"

# Short description of the bot
description = "CSP "

# Fun fact about the bot
fun_fact = "my bot is made by a ginger"

# Link to github repository
github = https://github.com/jmill0625/rlbot-code.git

# Programming language
language = Python
